@import "../defines.scss";

//mobile first design
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 8px -8px #ddd;

  @include md {
    height: 8rem;
    justify-content: flex-start;
    padding: 0 5rem;
  }
}

.navitem {
  width: 17rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md {
    height: 7rem;
  }
}

.logo {
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../icons/logo.svg');
  height: 12rem;
  background-position: center;

  @include md {
    height: 5rem;
  }
}

