@import "../defines.scss";

.scrollingWrapperContainer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: relative;
}

.scrollTop {
  z-index: 2;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  height: 12rem;
  width: 12rem;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 2px;
  background-color: aliceblue;
  cursor: pointer;

  @include lg {
    bottom: 4rem;
    right: 4rem;
    height: 6rem;
    width: 6rem;
    padding: 1rem;
  }
}

.scrollTopIcon {
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../icons/upload.svg');
  height: 100%;
  width: 100%;
  background-position: center;
}
