@import "../defines.scss";

.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
  height: auto;
  width: 44rem;
  padding: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;

  @include md {
    width: 35rem;
    padding: 3rem;
    margin: auto;
  }
}

.preview {
  width: 40rem;
  height: auto;
  background-color: lightblue;
  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }

  @include md {
    width: 29rem;
  }
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0;

  @include md {
    font-size: 3rem;
    margin: .4rem 0;
  }
}

.description, .size {
  font-size: 4rem;

  @include md {
    font-size: 2rem;
  }
}