@import "../defines.scss";

.card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
  height: 75rem;
  width: 44rem;
  padding: 2rem;
  font-weight: 500;

  @include lg {
    width: 35rem;
    height: 53rem;
    padding: 3rem;
    margin: auto;
  }
}

.preview {
  width: 40rem;
  height: 53rem;
  background-color: lightblue;

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }

  @include lg {
    width: 28rem;
    height: 37rem;
  }

  @include xl {
    width: 28rem;
    height: 37rem;
  }
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include lg {
    font-size: 3rem;
    margin: .4rem 0;
  }
}

.description, .size {
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include lg {
    font-size: 2rem;
  }
}